*{
    margin: 0%;
}
.header{
    background-image: url(https://fondosmil.com/fondo/35152.jpg);
    border: 6px solid rgba(14, 13, 12, 0.5);
    width: 99.5; 
    height: 10vh;  
    box-shadow: 1px 1px 5px rgb(77, 60, 60);
    
}
.nav{
    width: 110%;
    font-size: 1vw;
    height: 100%;
    display: flex;
    justify-content: cente;
}
.logo{
    width: 25%;
    height: 60%;
    display: block;
    justify-content:right;
    align-items: center;
    color: rgb(199, 164, 50);
    font-size: 1vw;
}
.links{
    width: 85%;
    height: 100%;
    font-size: 30px;
}
.links ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    font-size: 2vw;
    text-decoration: solid;
    font-family: cursive;
    display: block;
    color: rgb(223, 43, 11);
    align-items: center;
   

}
.links ul li a:hover{
    background-color: black;
    display: none;
    font-size: 2vw;
}
/*menu desplegable*/
* {
    padding: px;
    margin: 0px;
    font-family: cursive;
    width: auto;
    height: auto;
    right: auto;
    max-width: 100%;
}
.header{
    margin: auto;
    width: 700px;
    font-family: cursive;
}
.ul, ol{
    list-style: none;
}
.nav li a{
    background-color: rgb(65, 61, 61);
    text-decoration: cursive;
    color: pink;
    text-decoration: none;
    padding: 15px 23px;
    display: block;
    width: 80%;
    visibility: none;
   font-size: 160%;
}
.nav li a:hover {
    background-color: black; 
    visibility: inherit;
    font-size: 150%;
}
.nav > li{
    float: right;
}
.nav li ul{

    display: none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover > ul{
    display: block;
    list-style: none;
    font-size: 1vw;
}
.nav li ul li{
    position: relative;
}
.nav li ul li ul{
    right: -200px;
    top: 0px;
}
.texto{
   color: thistle;
   margin: 130px;
}